label {
    font-weight: bolder;
    color: #fff;
}
::placeholder {
    color: #333 !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333 !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
     color: #fff;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }

 body{
    background-color: #333;
    padding-top: 0px;
    color: #fff;
 }

 #titulo_cadastro_contatos{
    padding-top: 25px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 20px; }

#grid-contatos{
    color: #fff;
}